

body {
	background: #000000 url(images/background.jpg) center repeat;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:62.5%; /* Sets default font size to 10px */
	color:#222222;
	}

* {
	margin:0;
	padding:0;
	}

img {
	border:0;
	}

p {
	margin-bottom:1.75em;
	}

a {
	text-decoration:none;
	color:#2E3192;
	}
a:hover {
	text-decoration:none;
	color:#0000FF;
	}



#wrapper {
	margin:0 auto;
	width:770px;
	background:#ffffff;
	font-size:1.20em;

	}
#header {
	height:194px;
	background:url(images/header.jpg) no-repeat;
	}
#menu {
	height: 30px;
	background: #9CB0D1;	
	text-align: center;
	}
#menu a:link, #menu a:visited {
	display: block;
	float: left;
	line-height: 30px;
	height: 30px;
	padding: 0 30px;
	color: #fff;
	border-right: 1px solid #fff;
	border-bottom: 0;
}

#menu a:hover {
	background: #5E79B0;
	border-right: 1px solid #fff;
	text-decoration: none;
	border-bottom: 0;
}
#menu ul {
	padding: 0;
	list-style: none;
}

#menu li {
	margin: 0;
	float: left;
	height: 30px;
	padding: 0;
}
#sidebar {
	float:right;
	width:180px;
	background:#ffffff;
	margin-right:10px;
	}
#content {
	float:left;
	width:550px;
	min-height:400px;
	}
#footer {
	clear:both;
	height:30px;
	background:#9CB0D1;
	}

.entry {
	padding:5px 10px;
	text-align:justify;
	line-height:1.75em;
	}
.entry-title {
	font-size:1.90em;
	font-weight:normal;
	letter-spacing:-1px;
	}
.date {
	font-size:0.9em;
	color:#bbb;
	cursor:default;
	letter-spacing:1px;
	}

#sidebar ul {
	list-style-type:none;
	margin-top:5px;
	}
#sidebar li {
	
	}
#sidebar li a {
	display:block;
	height:20px;
	line-height:20px;
	color:#2E3192;
	padding-left:5px;
	border-bottom:1px dotted #2E3192;
	}
#sidebar li a:hover {
	color:#0000FF;
	}




#footer-valid {
	float:left;
	padding-top:55px;
	padding-left:20px;
	cursor:default;
	color:#ffffff;
	}
#footer-valid a {
	color:#ffffff;
	text-decoration:none;
	}
#footer-valid a:hover {
	color:#ffffff;
	text-decoration:underline;
	}


h1 {
	font-size:2.5em;
	font-weight:normal;
	cursor:default;
	position:relative; top:50px; left:30px;
	letter-spacing:1px;
	color:#aaaaaa;
	font-style:italic;
	}
